<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomerServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:16765/CustomerServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerServices"
                contract="CustomerSvc.ICustomerServices" name="BasicHttpBinding_ICustomerServices" />
        </client>
    </system.serviceModel>
</configuration>